.App {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  background-color: rgb(0, 88, 88);
  height: 85%;
  width: 40%;
  padding: 20px;
  border-radius: 23px;
}

.input-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.input-bar{
  border: none;
  font-size: 24px;
  padding: 14px 20px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
}

.input-bar::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.submit-btn{
  border: none;
  font-size: 24px;
  padding: 14px 20px;
  border-radius: 7px;
  background-color: aquamarine;
  cursor: pointer;
}

.output{
  color: white;
  height: 50%;
}

.name-container, .email-container{
  display: flex;
  margin-top: 2rem;
}

.user-icon, .mail-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  font-size: 3rem;
}

.email{
  font-size: 2rem;
}